@page "/fatchdata"
@attribute [StreamRendering]
@inject WeatherForecastService service;

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

<FatchDataModule.Components.Grid Items="forecasts" @rendermode="InteractiveServer" />



@code {

    private WeatherForecast[]? forecasts;
 

    protected override async Task OnInitializedAsync()
    {
        forecasts = await service.GetData();
    }

    
}
