@using FormModules.Data


<h3>@Value!.Summary</h3>

<!-- MODEL https://blazored.github.io/Modal/-->

<EditForm Model="@Value" class="row g-3" OnValidSubmit="@(() => OnSave.InvokeAsync(Value))">
    <DataAnnotationsValidator /> <!-- FLUENT  VALIDATION https://github.com/Blazored/FluentValidation-->

   
     @Filds



     <div class="col-12">

    <button type="button" class="btn btn-warning" @onclick="OnCancel">Cancel</button>
    <button class="btn btn-warning">Save</button>

    </div>
</EditForm>


@code {

    [Parameter]
    public RenderFragment? Filds { get; set; }

    [Parameter]
    public Item? Value { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    [Parameter]
    public EventCallback<Item> OnSave { get; set; }
}
