@typeparam ItemType




<!-- MODEL https://blazored.github.io/Modal/-->

<EditForm Model="@Value" class="row g-3" OnValidSubmit="@(() => OnSave.InvokeAsync(Value))">
    <DataAnnotationsValidator /> <!-- FLUENT  VALIDATION https://github.com/Blazored/FluentValidation-->

   
     @Filds



     <div class="col-12">

    <button type="button" class="btn btn-warning" @onclick="OnCancel">Cancel</button>
    <button class="btn btn-warning">Save</button>

    </div>
</EditForm>


@code {
    [Parameter]
    public string? HeaderProperty { get; set; }

    [Parameter]
    [EditorRequired]
    public RenderFragment? Filds { get; set; }

    [Parameter]
    public ItemType? Value { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    [Parameter]
    public EventCallback<ItemType> OnSave { get; set; }

    private string? valueHeaderPropery;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }
}
