@using FormModules.Data


<h3>@Value!.Summary</h3>

<!-- MODEL https://blazored.github.io/Modal/-->

<EditForm Model="@Value" class="row g-3" OnValidSubmit="@(() => OnSave.InvokeAsync(Value))">
    <DataAnnotationsValidator /> <!-- FLUENT  VALIDATION https://github.com/Blazored/FluentValidation-->

    <div class="col-md-6">
        <label class="form-label">Summary</label>
        <InputText @bind-Value="Value.Summary" class="form-control" />
        <ValidationMessage For="(() => Value.Summary)" />
    </div>

    <div class="col-md-6">
        <label class="form-label">Date</label>
        <InputDate @bind-Value="Value!.Date" class="form-control" />
       
    </div>

    <div class="col-md-6">
        <label class="form-label">Temperatura</label>
        <InputNumber @bind-Value="Value!.TemperatureC" class="form-control" />
        <ValidationMessage For="(() => Value.TemperatureC)" />

    </div>

     <div class="col-12">

    <button type="button" class="btn btn-warning" @onclick="OnCancel">Cancel</button>
    <button class="btn btn-warning">Save</button>

    </div>
</EditForm>


@code {

    [Parameter]
    public Item? Value { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    [Parameter]
    public EventCallback<Item> OnSave { get; set; }
}
